body.noscroll {
  overflow: hidden !important;
}

/* lead-modal : start */
.lead-modal {
  font-family: 'Open sans', sans-serif !important;
  position: fixed;
  z-index: 99999;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  opacity: 1;
  visibility: visible;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  white-space: normal !important;
}

.lead-modal__wrapper {
  position: relative;
  width: 100%;
  max-width: 450px;
  background-color: #fff;
  border-radius: 6px;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.lead-modal__content {
  width: inherit;
  overflow: auto;
  /* min-height: 400px; */
  max-height: calc(100vh - 125px);
  -webkit-overflow-scrolling: touch;
}

.lead-modal__header {
  padding: 0px 0px;
}

.lead-modal__image {
  display: block;
  margin: 0 auto;
  border: none !important;
  box-shadow: none !important;
}
.lead-modal-image-logo {
  margin-top: 15px;
  margin-bottom: 15px;
}

.lead-modal-image-cover {
  width: 100% !important;
  padding: 0 0px;
  border-top-left-radius: 4px;
  border: none !important;
  box-shadow: none !important;
  margin: 0 !important;
}

.lead-modal__image + .lead-modal__image {
  /* margin-top: 10px; */
  /* border-radius: 4px; */
}

.lead-modal__body {
  font-family: 'Open sans', sans-serif !important;
  padding: 15px 15px 25px 15px;
}

.lead-modal__title {
  font-family: 'Open sans', sans-serif !important;
  font-size: 20px !important;
  font-weight: bold !important;
  font-stretch: normal !important;
  font-style: normal !important;
  line-height: 1.3 !important;
  letter-spacing: -0.4px !important;
  color: #2a4975 !important;
  box-shadow: none !important;
  padding-bottom: 0 !important;
}

.lead-modal__title.pink {
  color: #2661ad !important;
}

.lead-modal__description {
  font-family: 'Open sans', sans-serif !important;
  font-size: 13px !important;
  font-weight: normal !important;
  font-stretch: normal !important;
  font-style: normal !important;
  line-height: 1.62 !important;
  letter-spacing: 0.14px !important;
  color: #2c87f3 !important;
  margin-top: 10px !important;
}

.lead-modal__description.pink {
  color: #3e3f58 !important;
}

.lead-modal__form-control-wrapper {
  margin-top: 10px;
  margin-left: 0px !important;
  position: relative;
}

.lead-modal__form-control {
  box-shadow: none !important;
  height: 40px !important;
  width: 100%;
  padding-left: calc(15px + 1.5em + 15px) !important;
  background-color: #fff !important;
  padding-top: 10px !important;
  padding-bottom: 10px !important;
  padding-right: 15px !important;
  border: solid 1px #dddddd !important;
  color: #2a4975 !important;
  line-height: 1.7em !important;
  border-radius: 0 !important;
  font-family: 'Open Sans', sans-serif !important;
  background-image: linear-gradient(transparent, transparent) !important;
  margin-left: 0px !important;
  font-size: 14px !important;
  line-height: 14px !important;
}

.lead-modal__form-control:focus {
  border-color: var(--color-primary);
  box-shadow: 0px 0px 0px 3px rgba(44, 135, 243, 0.1);
  outline: none;
}

.lead-modal__form-control::-webkit-input-placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #b5b5b5;
}

.lead-modal__form-control::-moz-placeholder {
  color: #b5b5b5;
}

.lead-modal__form-control:-ms-input-placeholder {
  color: #b5b5b5;
}

.lead-modal__form-control::-ms-input-placeholder {
  color: #b5b5b5;
}

.lead-modal__form-control::placeholder {
  color: #b5b5b5;
}

img.lead-modal__form-control-icon {
  display: inline-block !important;
  color: #b5b5b5 !important;
  fill: #b5b5b5 !important;
  line-height: 1 !important;
  flex-shrink: 0 !important;
  max-width: initial !important;
  display: block !important;
  position: absolute !important;
  pointer-events: none !important;
  left: 15px !important;
  top: 10px !important;
  height: 20px !important;
  width: 20px !important;
  border: none !important;
  margin: 0 !important;
}

.lead-modal__checkbox-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  margin-top: 15px;
}

.lead-modal__checkbox-wrapper a {
  color: #2c87f3 !important;
  text-decoration: none !important;
}

.lead-modal__checkbox-wrapper a:visited {
  color: #2c87f3 !important;
}

.lead-modal__checkbox-wrapper.pink a,
.lead-modal__checkbox-wrapper.pink a:visited {
  color: #e55c8a !important;
}

.lead-modal__checkbox {
  position: relative;
  z-index: 1;
  display: inline-block;
  font-size: 20px;
}

.lead-modal__checkbox__input {
  position: relative;
  margin: 0 !important;
  padding: 0;
  opacity: 0;
  height: 1em !important;
  width: 1em !important;
  display: block;
  z-index: 1;
  font-size: 1em !important;
}

.lead-modal__checkbox__control {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  pointer-events: none;
  transition: transform 0.2s;
  color: #dddddd;
}

.lead-modal__checkbox__control::before,
.lead-modal__checkbox__control::after {
  content: '';
  position: absolute;
}

.lead-modal__checkbox__control::before {
  width: 120%;
  height: 120%;
  background-color: currentColor;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  opacity: 0;
  border-radius: 50%;
  will-change: transform;
  transition: transform 0.2s;
}

.lead-modal__checkbox__control::after {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  border-radius: 6px;
  -webkit-box-shadow: inset 0 0 0 1px #dddddd;
  box-shadow: inset 0 0 0 1px #dddddd;
}

.lead-modal__checkbox__control:focus::after {
  box-shadow: inset 0 0 0 1px #2c87f3;
}

.lead-modal__checkbox__input:checked ~ .lead-modal__checkbox__control::after,
.lead-modal__checkbox__input:indeterminate ~ .lead-modal__checkbox__control::after {
  background-color: currentColor;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 18px;
  box-shadow: none;
}

.lead-modal__checkbox__input:checked ~ .lead-modal__checkbox__control {
  color: #2c87f3;
}

.lead-modal__checkbox__input:checked ~ .lead-modal__checkbox__control::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpolyline points='2.5 8 6.5 12 13.5 3' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='1.5'/%3E%3C/svg%3E");
}

.lead-modal__checkbox__input:indeterminate ~ .lead-modal__checkbox__control {
  color: var(--custom-checkbox-color-disabled);
}

.lead-modal__checkbox__input:indeterminate ~ .lead-modal__checkbox__control::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cline x1='2' y1='8' x2='14' y2='8' fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='2'/%3E%3C/svg%3E");
}

.lead-modal__checkbox__input:active ~ .lead-modal__checkbox__control {
  transform: scale(0.9);
}

.lead-modal__checkbox__input:checked:active ~ .lead-modal__checkbox__control,
.lead-modal__checkbox__input:indeterminate:active ~ .lead-modal__checkbox__control {
  transform: scale(1);
}

.lead-modal__checkbox__input:focus ~ .lead-modal__checkbox__control::before {
  opacity: 0.2;
  transform: translate(-50%, -50%) scale(1);
}

.lead-modal__checkbox__input.pink ~ .lead-modal__checkbox__control::after {
  border-radius: 50% !important;
}

.lead-modal__checkbox__input.pink:checked ~ .lead-modal__checkbox__control {
  color: #2661ad;
}

.lead-modal__checkbox__input.pink:checked ~ .lead-modal__checkbox__control::after,
.lead-modal__checkbox__input.pink:indeterminate ~ .lead-modal__checkbox__control::after {
  background-size: 12px;
}

.lead-modal__checkbox__label {
  /* font-family: OpenSans; */
  font-size: 13px;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: 0.14px;
  color: #969696;
  margin-left: 10px;
  margin-bottom: 0 !important;
}

.lead-modal__btn {
  display: block;
  width: 100%;
  border: none;
  color: #fff;
  padding: 12px 10px;
  font-weight: 700;
  text-align: center;
  margin-top: 15px;
  border-radius: 4px;
  background-color: #2699fb;
  transition: all 0.2s ease-in-out;
  text-shadow: none !important;
  box-shadow: none !important;
  font-family: 'Open sans', sans-serif !important;
  font-size: 14px;
  cursor: pointer !important;
}

.lead-modal__btn:hover,
.lead-modal__btn:active {
  background-color: #337eff;
}

.lead-modal__btn.pink {
  background-color: #e55c8a;
}

.lead-modal__btn.pink:hover {
  background-color: #b4466a;
}

.lead-modal__close-btn {
  position: absolute;
  padding-top: 5px;
  top: -15px;
  right: -10px;
  width: 35px;
  height: 35px;
  box-shadow: -2px 4px 4px 0 rgba(191, 191, 191, 0.44) !important;
  text-shadow: none !important;
  background-color: #005cfd;
  border-radius: 50%;
  line-height: inherit;
  appearance: none;
  border: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.2s ease-in-out;
  outline: none;
  z-index: 1;
  padding: 5px 13px !important;
  cursor: pointer !important;
}

.lead-modal__close-btn:hover,
.lead-modal__close-btn:active {
  background-color: #337eff;
}

.lead-modal__close-icon {
  display: inline-block;
  color: #fff;
  fill: #fff;
  height: 1em;
  width: 1em;
  line-height: 1;
  flex-shrink: 0;
  max-width: initial;
  transition: 0.3s all ease;
}

.lead-modal__close-btn.pink {
  background-color: #fff;
}

.lead-modal__close-btn.pink .lead-modal__close-icon {
  color: #000;
}

.lead-modal__close-btn.pink:hover .lead-modal__close-icon {
  color: #e55c8a;
  transition: 0.3s all ease;
}

.lead-modal__thank-you {
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: inherit;
  text-align: center;
  min-height: 400px;
}

.lead-modal__thank-you h1 {
  margin-top: 10px;
  font-size: 32px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.23px;
  color: #1b3250;
}

.lead-modal__thank-you p {
  margin-top: 5px;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.11px;
  color: #1b3250;
}
.lead-modal__thank-you img {
  max-width: 100% !important;
  border: none !important;
  width: auto !important;
  margin: 0 auto !important;
}

.lead-modal__thank-you.hidden {
  display: none;
}
/* lead-modal : end */

.modal__container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 1000000000000;
  pointer-events: none;
  overflow-y: scroll;
}

.modal__content {
  position: relative;
  width: 80vw;
  margin: auto 0;
}

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #223bdd;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1;
  transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
  animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes nprogress-spinner {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.lead-modal__btn:disabled {
  background: #d5d5d5 !important;
}

.dateclass {
  width: 100%;
}

.dateclass.placeholderclass::before {
  width: 100%;
  content: attr(placeholder);
  color: #b8b8b8;
}

.dateclass.placeholderclass:hover::before {
  width: 0%;
  content: '';
}

/* Change Autocomplete styles in Chrome*/
.lead-modal input:-webkit-autofill,
.lead-modal input:-webkit-autofill:hover,
.lead-modal input:-webkit-autofill:focus,
.lead-modal textarea:-webkit-autofill,
.lead-modal textarea:-webkit-autofill:hover,
.lead-modal textarea:-webkit-autofill:focus,
.lead-modal select:-webkit-autofill,
.lead-modal select:-webkit-autofill:hover,
.lead-modal select:-webkit-autofill:focus {
  -webkit-box-shadow: 0 0 0 1000px white inset !important;
  -webkit-text-fill-color: #2a4975;
}

.lead-modal label.error {
  font-size: 13px;
  color: #fa140f;
  margin-bottom: 0;
  margin-left: 0px !important;
  line-height: 1.65 !important;
  width: 100%;
  display: block;
}
