:root {
  --le-topnav-height: 65px;
  --le-nav-offset-top: 80px;
  --le-left-side-bar-width: 64px;
  --le-left-side-bar-offset-top: 15px;

  --font-primary: 'Inter', sans-serif;
  --font-size: 14px;

  --color-primary: #3389f0;
  --color-secondary: #0a54ae;

  --color-black: #2c2c2c;
  --color-light-blue: #e5faff;

  --color-ghost: #e4e8ec;
  --color-success: #00b16a;
  --color-warning: #fe921d;
  --color-error: #f44d2c;
  --color-info: #2685f1;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-blue50: #e3f2ff;
  --color-blue100: #bcdeff;
  --color-blue200: #91caff;
  --color-blue300: #65b5ff;
  --color-blue400: #45a4ff;
  --color-blue500: #2b94ff;
  --color-blue600: #2d87f3;
  --color-blue700: #2c74df;
  --color-blue800: #2b62cd;
  --color-blue900: #2743ad;
  --color-yellow50: #fff8e2;
  --color-yellow100: #ffecb6;
  --color-yellow200: #ffe187;
  --color-yellow300: #ffd658;
  --color-yellow400: #ffcb37;
  --color-yellow500: #ffc326;
  --color-yellow600: #ffb521;
  --color-yellow700: #fea21e;
  --color-yellow800: #fe921d;
  --color-yellow900: #fc7419;
  --color-green50: #e0f8ee;
  --color-green100: #b3eed5;
  --color-green200: #7ce2b9;
  --color-green300: #2ed69e;
  --color-green400: #00cb8a;
  --color-green500: #00c076;
  --color-green600: #00b16a;
  --color-green700: #009e5c;
  --color-green800: #008c50;
  --color-green900: #006c39;
  --color-teal50: #e0f7fc;
  --color-teal100: #b1ebf8;
  --color-teal200: #7ddff3;
  --color-teal300: #44d1ec;
  --color-teal400: #00c7e6;
  --color-teal500: #00bee0;
  --color-teal600: #00aecd;
  --color-teal700: #0099b2;
  --color-teal800: #008599;
  --color-teal900: #00626c;
  --color-red50: #fae9e8;
  --color-red100: #feccbf;
  --color-red200: #feaa96;
  --color-red300: #ff886c;
  --color-red400: #ff6f4d;
  --color-red500: #ff5331;
  --color-red600: #f44d2c;
  --color-red700: #e64728;
  --color-red800: #d84023;
  --color-red900: #bf331b;
  --color-neutral50: #f7f9fc;
  --color-neutral100: #e4e8ec;
  --color-neutral200: #d2d6dc;
  --color-neutral300: #bfc5cc;
  --color-neutral400: #adb3bc;
  --color-neutral500: #9aa2ac;
  --color-neutral600: #87909c;
  --color-neutral700: #757f8c;
  --color-neutral800: #626d7c;
  --color-redViolet50: #f3eaeb;
  --color-redViolet100: #e8d5d7;
  --color-redViolet200: #ddc1c4;
  --color-redViolet300: #d1acb0;
  --color-redViolet400: #c5979c;
  --color-redViolet500: #ba8288;
  --color-redViolet600: #af6d74;
  --color-redViolet700: #a35961;
  --color-redViolet800: #97444d;
  --color-redViolet900: #8c2f39;
  --color-pink50: #fff1f6;
  --color-pink100: #ffdce9;
  --color-pink200: #fec7dc;
  --color-pink300: #feb2cf;
  --color-pink400: #fe9dc2;
  --color-pink500: #fd87b4;
  --color-pink600: #fd72a7;
  --color-pink700: #fc5d9a;
  --color-pink800: #fc488d;
  --color-pink900: #e92d74;
  --color-gray50: #fafafa;
  --color-gray100: #f2f2f2;
  --color-gray200: #d9d9d9;
  --color-gray300: #bfbfbf;
  --color-gray400: #8c8c8c;
  --color-gray500: #737373;
  --color-gray600: #595959;
  --color-gray700: #404040;
  --color-gray800: #262626;
  --color-violet50: #f5edff;
  --color-violet100: #e7d2f7;
  --color-violet200: #d8b7f0;
  --color-violet300: #ca9ce8;
  --color-violet400: #bb82e1;
  --color-violet500: #ad67d9;
  --color-violet600: #9e4cd1;
  --color-violet700: #9031ca;
  --color-violet800: #8116c2;
}
