@import url('./reset.css');
@import url('https://fonts.googleapis.com/css2?family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --main-color: #ac896f;
  --border-color: #616161;
}

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: #616161;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Libre Bodoni', serif;
  font-weight: 500;
}

a {
  color: #deb18f;
  text-decoration: none;
  &:hover {
    color: #616161;
    transition: 0.25s ease-in all;
  }
}
